interactions:
- request:
    body: '{"associatedDocuments": [{"date": "2025-02-26", "documentType": "01", "number":
      995000000, "prefix": "SETP", "uuid": "a452a6c20b15927c0a234ef6d28e638aecd4f7fcfe22368942f4fb3e3590cd0e993fe5a8973172e087aa3030b240353c"}],
      "company": {"id": "01JN298D48XKSBK5T4XXKD27DS"}, "customer": {"name": "Customer
      Name", "organizationType": 2, "identificationType": "13", "identificationNumber":
      "222222222222", "dv": "2", "email": "email@email.com", "address": {"address":
      "Cra. 13 #12-12 Edificio A & A", "city": "11001", "department": "11", "country":
      "CO"}, "phone": "3223334455"}, "prefix": "ND", "number": 1, "note": "Cobro de
      botella faltante", "items": [{"code": "BM1", "description": "Botella de M1",
      "price": 10000.0, "quantity": 1, "unitCode": "94", "note": "", "subtotal": 10000.0,
      "taxAmount": 1900.0, "total": 11900.0, "discount": 0.0, "discountAmount": 0.0,
      "taxes": [{"taxCode": "01", "taxAmount": 1900.0, "taxPercentage": "19.00", "taxableAmount":
      10000.0}]}], "payments": [{"paymentForm": "1", "paymentMethod": "ZZZ", "paymentDueDate":
      "2025-02-26"}], "discountsAndCharges": [], "totalAmounts": {"grossTotal": 10000.0,
      "taxableTotal": 10000.0, "taxTotal": 1900.0, "discountTotal": 0.0, "chargeTotal":
      0.0, "advanceTotal": 0.0, "payableTotal": 11900.0, "currencyCode": "COP"}, "conceptCode":
      "2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-api.alegra.com/e-provider/col/v1/debit-notes
  response:
    body:
      string: "{\"debitNote\":{\"id\":\"01JN4YX6AN5DHVKTD1BWGDGCQM\",\"companyIdentification\":\"900559088\",\"customerIdentification\":\"222222222222\",\"type\":\"STANDARD\",\"cude\":\"ddee938fe5d2fe49fb86fe4a5c384f4044e488570b766a030820e0d4bce5fea3505518c950b690ab016ffdd6b3830bc5\",\"date\":\"2025-02-27T19:22:08-05:00\",\"prefix\":\"ND\",\"number\":1,\"fullNumber\":\"ND1\",\"status\":\"SENT\",\"legalStatus\":\"REJECTED\",\"governmentResponse\":{\"code\":\"99\",\"message\":\"Validaci\xF3n
        contiene errores en campos mandatorios.\",\"errorMessages\":[\"Regla: 90,
        Rechazo: Documento procesado anteriormente.\"]},\"xmlFileName\":\"nd09005590880852500000006.xml\",\"zipFileName\":\"z09005590880852500000006.zip\",\"qrCodeContent\":\"NumFac:
        ND1\\nFecFac: 2025-02-27\\nHorFac: 07:22:08-05:00\\nNitFac: 900559088\\nDocAdq:
        222222222222\\nValFac: 10000.00\\nValIva: 1900.00\\nValOtroIm: 0.000.00\\nValTolFac:
        11900.00\\nCUDE: ddee938fe5d2fe49fb86fe4a5c384f4044e488570b766a030820e0d4bce5fea3505518c950b690ab016ffdd6b3830bc5\\nQRCode:
        https://catalogo-vpfe-hab.dian.gov.co/document/searchqr?documentkey=ddee938fe5d2fe49fb86fe4a5c384f4044e488570b766a030820e0d4bce5fea3505518c950b690ab016ffdd6b3830bc5\"}}"
    headers:
      Apigw-Requestid:
      - Gq0zMiFPIAMEMTw=
      - Gq0zLg-VIAMEZjA=
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
